PORT = 5000
CLIENT_URL = http://localhost:5173
NODE_ENV = development
MONGODB_URI = mongodb://localhost:27017/Genie
# Example for MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourAppName
JWT_SECRET = your_jwt_secret_key_here
RAZORPAY_KEY_SECRET = your_razorpay_secret_key_here
RAZORPAY_KEY_ID = your_razorpay_key_id_here
